### 지리 좌표계
#### Bessell1841 / GRS80 / WGS84 타원체
+ 우리나라에서 사용했던 대표적 지리좌표계

#### Bessell 1841 타원체
+ 일제시대의 영향으로 일본에서 쓰던 타원체
+ 지구중심이 치우쳐져 있어 측위 오차 발생 (도쿄기준)

#### GRS80 (Geodetic Reference System 1980) 타원체
+ 국제 측지학 및 지구물리학 연합(IUGG)에서 채택한 지구 타원체

#### WGS84 (World Geodetic System 1984) 타원체
+ 미국이 군사 및 GPS운용을 목적으로 구축. 현재, ITRF2000와 비슷해져 가고 있음

#### 국제 표준 좌표계
+ ITRF2000
+ International Terrestrial Reference Frame 2000
+ 세계측지계 : 세계에서 공통으로 이용할 수 있는 위치의 기준

#### 한국측지계 2002
+ Korea Geodetic Datum 2002
+ 세계측지계 중 우리나라가 구축한 부분의 명칭

#### 서울시 구별 인구수를 단개구분도로 시각화
+ choropleth map

### 인구수에 따라 표시할 색상 생성

#### def catch_color(pop, pmin, prange):
    norm = (pop - pmin) / prange

    # 0 ~ 1 사이 값을 갖도록 정규화 함

    invers = 1 - norm

    print(norm, invers)

    # 색상 반전을 위해 1에서 정규화값을 뺌

    mplcolor = viridis(invers)

    # 색상표에 값을 넣어서 적절한 색을 알아냄

    gmapcolor = to_hex(mplcolor)

    # 알아낸 색을 16진수로 변환

    return gmapcolor

### 인구수에 따라 표시할 색상 지정

from matplotlib.cm import viridis   -> cm 3.3에서 deprecated

from matplotlib.cm import inferno

from matplotlib.colors import to_hex

In [30]:
import googlemaps as gmaps
import matplotlib.pyplot as plt
import requests
from collections import OrderedDict
from bs4 import BeautifulSoup

In [31]:
import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [32]:
import pandas as pd
import json
import re

In [116]:

import matplotlib as mpl

from matplotlib import cm
from colorspacious import cspace_converter

ModuleNotFoundError: No module named 'colorspacious'

In [4]:
with open('data/seoul_geo_simple.json') as f:
           seoul_geo = json.load(f)

In [5]:
seoul_geo['features'][0]['properties']['name']

'강동구'

In [6]:
seoul_geo['features'][0]['geometry']['coordinates'][0][0]

[127.11519584981606, 37.557533180704915]

In [7]:
mykey = 'AIzaSyB812qL0_bvp8AzDMmhhN7Ac6dq9RSSHfc'

In [8]:
gmaps.configure(api_key=mykey)

In [12]:
mysize = {'width' : '1024px', 'height' : '768px', 'border' : '1px solid black', 'padding' : '10px', 'margin' : '10px'}

In [15]:
seoul = (37.566, 126.9784)

#### 구별 경계 데이터를 지도에 시각화

In [ ]:
fig = gmaps.figure(center=seoul, zoom_level = 11, layout=mysize)

In [17]:
geojson_layer = gmaps.geojson_layer(
seoul_geo, fill_color='blue',
stroke_color='navy', fill_opacity=0.4)
fig.add_layer(geojson_layer)

In [23]:
embed_minimal_html('maps/map6.html', views=[fig])

#### 구별 인구수 데이터프레임 생성
+ json 데이터상의 구 순서대로 인구수 맵핑

In [53]:
pop = pd.read_csv('data/seoul_pop_2019.csv', header=None, encoding='euc=kr')

In [54]:
pop.columns = ['gu','pop']
pop.head()
pop['pop'] = pop['pop'].str.replace(',','')
pop['pop'] = pop['pop'].apply(lambda x: int(x))

#### 구별 인구수 검색을 수월하게 하기 위해 인구수 데이터를 dict형으로 변환
+ 인구수 데이터를 dict형으로 변환
+ 즉, 객체명['pop']['구이름'] 형태로 검색가능하도록 만듬
+ 따라서 불리언 인덱싱보다는 효율적인 검색 가능

In [55]:
df = pop.set_index('gu').to_dict()

In [56]:
pop

      gu     pop
0    종로구  152026
1     중구  126143
2    용산구  229122
3    성동구  304936
4    광진구  353878
5   동대문구  346501
6    중랑구  400661
7    성북구  440397
8    강북구  315587
9    도봉구  336698
10   노원구  538350
11   은평구  483730
12  서대문구  311215
13   마포구  374422
14   양천구  461051
15   강서구  595602
16   구로구  405415
17   금천구  234079
18  영등포구  369017
19   동작구  398885
20   관악구  502089
21   서초구  431360
22   강남구  542498
23   송파구  679247
24   강동구  424235

In [57]:
df['pop']['강동구']

424235

#### catch_color 테스트
+ 인구수의 크기에 따라 지정된 칼라맵에서의 적절한 색상 추출
+ matplotlib colormap으로 구글 검색

In [39]:
import numpy as np

In [68]:
pmax = max(pop['pop'])
pmin = min(pop['pop'])

In [77]:
prgn = pmax - pmin

In [ ]:
def catch_color(pop, pmin, prgn):
    x = (424235 - pmin) / prgn
    y = 1 - x
    x = viridis(x)


print(x, to_hex(y))

In [ ]:
catch_color(42435, pmin ,prgn)

#### 인구수에 따라 표시할 색상을 생성하고 colors라는 리스트에 저장

In [46]:
colors = []

In [47]:
for gu in seoul_geo['features']:
    name = gu['properties']['name']
    pop = df['pop'][name]

In [ ]:
color = catch_color(pop, pmin, prgn)
colors.append(color)

In [ ]:
fig = gmaps.figure(center=seoul, zoom_level = 11, layout=mysize)

In [ ]:

geojson_layer = gmaps.geojson_layer(
seoul_geo, fill_color='blue',
stroke_color='navy', fill_opacity=0.4)
fig.add_layer(geojson_layer)

In [ ]:
embed_minimal_html('maps/map6b.html', views=[fig])

####  미국실업률

In [79]:
with open('data/usa_states_geo_simple.json') as f:
           usa_geo = json.load(f)

In [81]:
usa_geo['features'][0]['properties']['name']

'Alabama'

In [82]:
usa_geo['features'][0]['geometry']['coordinates'][0][0]

[-87.359296, 35.00118]

In [101]:
unemp = pd.read_csv('data/unemployment.csv')
unemp.head()

  State  Unemployment
0    AL           7.1
1    AK           6.8
2    AZ           8.1
3    AR           7.2
4    CA          10.1

#### 실업율에 따른 색상값 생성

In [109]:
emax = max(unemp['Unemployment'])
emin = min(unemp['Unemployment'])
ergn = round(emax - emin, 2)
print(emax, emin, ergn)

10.3 3.2 7.1

In [110]:
colors = []

In [115]:
for i in range(len(unemp['Unemployment'])):
    uemp = unemp['Unemployment'][i] # 인덱스 숫자로 확인
    color = catch_color(uemp, emin, ergn)
    colors.append(color)

NameError: name 'viridis' is not defined

In [83]:
usa = (48, -102)

In [96]:
fig = gmaps.figure(center=usa, zoom_level = 4, layout=mysize)

In [97]:
geojson_layer = gmaps.geojson_layer(
usa_geo, fill_color='colors',
stroke_color='colors', fill_opacity=0.45)
fig.add_layer(geojson_layer)

In [98]:
embed_minimal_html('maps/map6c.html', views=[fig])

In [73]:
umax = max(unemp['Unemployment'])
umin = (unemp['Unemployment'])

In [74]:
urgn = umax - umin

In [64]:
def catch_color(unemp, umin, urgn):
    x = (424235 - pmin) / prgn
    x = 1 - x
    x = viridis(x)


print(x, to_hex(y))