In [1]:
url = "jdbc:mysql://bigdata.cwarwltabyk2.ap-northeast-2.rds.amazonaws.com/bigdata"

In [2]:
user = 'admin'

In [3]:
password = 'bigdata2020'

In [15]:
emp = spark.read.format('jdbc').options(url=url, user=user, password=password, dbtable='employees').load()

In [5]:
emp.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: double (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [6]:
emp.select('FIRST_NAME').show(5)

+----------+
|FIRST_NAME|
+----------+
|    Steven|
|     Neena|
|       Lex|
| Alexander|
|     Bruce|
+----------+
only showing top 5 rows

In [7]:
EMP = emp.createOrReplaceTempView('EMP')

In [30]:
from pyspark.sql.functions import min,max,avg,sum,count,round,col,countDistinct

In [8]:
spark.sql('select FIRST_NAME from EMP').show()

+-----------+
| FIRST_NAME|
+-----------+
|     Steven|
|      Neena|
|        Lex|
|  Alexander|
|      Bruce|
|      David|
|      Valli|
|      Diana|
|      Nancy|
|     Daniel|
|       John|
|     Ismael|
|Jose Manuel|
|       Luis|
|        Den|
|  Alexander|
|     Shelli|
|      Sigal|
|        Guy|
|      Karen|
+-----------+
only showing top 20 rows

21/10/11 00:59:52 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

In [21]:
summermedals = spark.read.format('jdbc').options(url=url, user=user, password=password, dbtable='summermedals').load()

In [22]:
summermedals.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Athlete: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [23]:
SUMMER = summermedals.createOrReplaceTempView('SUMMER')

In [25]:
spark.sql("select Country, count(Medal) cnt from SUMMER where Medal = 'Gold' group by country order by cnt desc").show()

[Stage 11:===============================================>      (176 + 1) / 200]

+-------+---+
|Country|cnt|
+-------+---+
|    USA|687|
|    GBR|285|
|    SWE|183|
|    ITA|179|
|    FRA|158|
|    GER|132|
|    HUN|102|
|    NOR| 90|
|    FIN| 73|
|    BEL| 72|
|    CAN| 56|
|    IND| 53|
|    DEN| 44|
|    SUI| 42|
|    URS| 39|
|    NED| 34|
|    TCH| 31|
|    ZZX| 23|
|    URU| 22|
|    AUS| 22|
+-------+---+
only showing top 20 rows

In [37]:
summermedals.filter(col('Medal') == 'Gold').groupBy('Country').agg(count('Medal').alias('cntM')).orderBy('cntM', ascending=False).show(10)

[Stage 27:===============================================>      (175 + 1) / 200]

+-------+----+
|Country|cntM|
+-------+----+
|    USA| 687|
|    GBR| 285|
|    SWE| 183|
|    ITA| 179|
|    FRA| 158|
|    GER| 132|
|    HUN| 102|
|    NOR|  90|
|    FIN|  73|
|    BEL|  72|
+-------+----+
only showing top 10 rows

#### tip : groupby replace select, fileter - groupby - agg - orderby