## 스파크세션을 이용한 고급 데이터프레임 생성

In [11]:
from pyspark.sql.types import StringType, IntegerType

In [12]:
from pyspark.sql import SparkSession

In [13]:
from pyspark.sql.types import StructType

### 데이터프레임 스키마 정의 - employees

### 스파크 세션 객체 생성

In [14]:
spark = SparkSession.builder.appName("emp").getOrCreate()

#### 데이터프레임 생성 전 스키마 타입

#### add(컬럼명, 데이터타입)

In [6]:
emp_schema = StructType().add("empno", "integer").add("fname", "string").add("lname", "string").add("hdate", "string").add("sal", "integer").add("deptid", "integer")

#### 지정한 스키마를 이용해서 데이터프레임 생성

#### 데이터프레임의 각 행은 set 객체로 정의

#### 위에서 정의한 스키마는 schema 속성으로 지정

In [11]:
df = spark.createDataFrame([(123, 'steve', 'king', '2003-06-17', 35000, None),(456, 'john', 'seo', '2005-12-15', 20000, 50),(789, 'david', 'None', '2004-03-01', 22000, 90)], schema=emp_schema)

In [12]:
df.show()

+-----+-----+-----+----------+-----+------+
|empno|fname|lname|     hdate|  sal|deptid|
+-----+-----+-----+----------+-----+------+
|  123|steve| king|2003-06-17|35000|  null|
|  456| john|  seo|2005-12-15|20000|    50|
|  789|david| None|2004-03-01|22000|    90|
+-----+-----+-----+----------+-----+------+

### 데이터프레임의 스키마 확인

In [13]:
df.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- hdate: string (nullable = true)
 |-- sal: integer (nullable = true)
 |-- deptid: integer (nullable = true)

### 결측치 처리

### fillna(대체값)

In [16]:
df.fillna('X').show()

+-----+-----+-----+----------+-----+------+
|empno|fname|lname|     hdate|  sal|deptid|
+-----+-----+-----+----------+-----+------+
|  123|steve| king|2003-06-17|35000|  null|
|  456| john|  seo|2005-12-15|20000|    50|
|  789|david| None|2004-03-01|22000|    90|
+-----+-----+-----+----------+-----+------+

In [17]:
df.fillna(999).show()

+-----+-----+-----+----------+-----+------+
|empno|fname|lname|     hdate|  sal|deptid|
+-----+-----+-----+----------+-----+------+
|  123|steve| king|2003-06-17|35000|   999|
|  456| john|  seo|2005-12-15|20000|    50|
|  789|david| None|2004-03-01|22000|    90|
+-----+-----+-----+----------+-----+------+

#### 여러 컬럼에 대해 결측치 처리 : dict 이용

In [18]:
df.fillna({'lname':'X', 'deptid':999}).show()

+-----+-----+-----+----------+-----+------+
|empno|fname|lname|     hdate|  sal|deptid|
+-----+-----+-----+----------+-----+------+
|  123|steve| king|2003-06-17|35000|   999|
|  456| john|  seo|2005-12-15|20000|    50|
|  789|david| None|2004-03-01|22000|    90|
+-----+-----+-----+----------+-----+------+

#### 결측치 제거

#### na.drop()

In [22]:
df2 = spark.createDataFrame([(123, 'steve', 'king', '2003-06-17', 35000, None),(456, 'john', 'seo', '2005-12-15', 20000, 50),(789, 'david', 'None', '2004-03-01', 22000, 90)], schema=emp_schema)

In [23]:
df2.na.drop().show()

+-----+-----+-----+----------+-----+------+
|empno|fname|lname|     hdate|  sal|deptid|
+-----+-----+-----+----------+-----+------+
|  456| john|  seo|2005-12-15|20000|    50|
|  789|david| None|2004-03-01|22000|    90|
+-----+-----+-----+----------+-----+------+

#### 특정 컬럼 제거

#### drop(컬럼명)

In [24]:
df2.drop('fname').show()

+-----+-----+----------+-----+------+
|empno|lname|     hdate|  sal|deptid|
+-----+-----+----------+-----+------+
|  123| king|2003-06-17|35000|  null|
|  456|  seo|2005-12-15|20000|    50|
|  789| None|2004-03-01|22000|    90|
+-----+-----+----------+-----+------+

In [25]:
df2.drop('hdate', 'sal').show()

+-----+-----+-----+------+
|empno|fname|lname|deptid|
+-----+-----+-----+------+
|  123|steve| king|  null|
|  456| john|  seo|    50|
|  789|david| None|    90|
+-----+-----+-----+------+

#### csv 파일을 이용해서 데이터프레임 만들기
+ read.csv(경로, 헤더여부, 스키마여부)

In [3]:
emp = spark.read.csv("employees.csv", header=True, inferSchema=True)

In [28]:
emp.printSchema() # 데이터프레임 스키마 출력

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: timestamp (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: double (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [29]:
emp.count()

107

In [31]:
emp.columns  #데이터프레임 컬럼명 출력

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [32]:
emp.show()

+-----------+-----------+----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567|2003-06-17 00:00:00|   AD_PRES| 24000|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568|2005-09-21 00:00:00|     AD_VP| 17000|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569|2001-01-13 00:00:00|     AD_VP| 17000|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567|2006-01-03 00:00:00|   IT_PROG|  9000|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568|2007-05-21 00:00:00|   IT_PROG|  6000|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569|2005-06-25 00:00:00|   IT_PROG|  4800|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560|2006-02-05 00:00:00|   IT_PROG|  4800|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567|2007-02-07 00:00:00|   IT_PROG|  4200|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569|2002-08-17 00:00:00|    FI_MGR| 12008|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169|2002-08-16 00:00:00|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269|2005-09-28 00:00:00|FI_ACCOUNT|  8200|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369|2005-09-30 00:00:00|FI_ACCOUNT|  7700|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469|2006-03-07 00:00:00|FI_ACCOUNT|  7800|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567|2007-12-07 00:00:00|FI_ACCOUNT|  6900|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561|2002-12-07 00:00:00|    PU_MAN| 11000|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562|2003-05-18 00:00:00|  PU_CLERK|  3100|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563|2005-12-24 00:00:00|  PU_CLERK|  2900|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564|2005-07-24 00:00:00|  PU_CLERK|  2800|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565|2006-11-15 00:00:00|  PU_CLERK|  2600|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566|2007-08-10 00:00:00|  PU_CLERK|  2500|          null|       114|           30|
+-----------+-----------+----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
only showing top 20 rows

#### 데이터 요약 보기

#### summary(통계항목)

In [33]:
emp.summary().show()

+-------+----------------+----------+---------+-------+------------------+----------+------------------+-------------------+------------------+------------------+
|summary|     EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|      PHONE_NUMBER|    JOB_ID|            SALARY|     COMMISSION_PCT|        MANAGER_ID|     DEPARTMENT_ID|
+-------+----------------+----------+---------+-------+------------------+----------+------------------+-------------------+------------------+------------------+
|  count|             107|       107|      107|    107|               107|       107|               107|                 35|               106|               106|
|   mean|           153.0|      null|     null|   null|              null|      null|6461.8317757009345|0.22285714285714286|124.76415094339623| 63.20754716981132|
| stddev|31.0322412983658|      null|     null|   null|              null|      null|3909.5797305524825|0.08518393346757594|20.315395000692018|20.910110100200708|
|    min|             100|      Adam|     Abel| ABANDA|011.44.1343.329268|AC_ACCOUNT|              2100|                0.1|               100|                10|
|    25%|             126|      null|     null|   null|              null|      null|              3100|               0.15|               108|                50|
|    50%|             153|      null|     null|   null|              null|      null|              6200|                0.2|               122|                50|
|    75%|             180|      null|     null|   null|              null|      null|              9000|                0.3|               145|                80|
|    max|             206|   Winston|  Zlotkey|WTAYLOR|      650.509.4876|    ST_MAN|             24000|                0.4|               205|               110|
+-------+----------------+----------+---------+-------+------------------+----------+------------------+-------------------+------------------+------------------+

In [35]:
emp.summary('count', 'min' ,'max').show()

+-------+-----------+----------+---------+-------+------------------+----------+------+--------------+----------+-------------+
|summary|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|      PHONE_NUMBER|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-------+-----------+----------+---------+-------+------------------+----------+------+--------------+----------+-------------+
|  count|        107|       107|      107|    107|               107|       107|   107|            35|       106|          106|
|    min|        100|      Adam|     Abel| ABANDA|011.44.1343.329268|AC_ACCOUNT|  2100|           0.1|       100|           10|
|    max|        206|   Winston|  Zlotkey|WTAYLOR|      650.509.4876|    ST_MAN| 24000|           0.4|       205|          110|
+-------+-----------+----------+---------+-------+------------------+----------+------+--------------+----------+-------------+

In [37]:
emp.select('SALARY','COMMISSION_PCT').summary().show()

+-------+------------------+-------------------+
|summary|            SALARY|     COMMISSION_PCT|
+-------+------------------+-------------------+
|  count|               107|                 35|
|   mean|6461.8317757009345|0.22285714285714286|
| stddev|3909.5797305524825|0.08518393346757594|
|    min|              2100|                0.1|
|    25%|              3100|               0.15|
|    50%|              6200|                0.2|
|    75%|              9000|                0.3|
|    max|             24000|                0.4|
+-------+------------------+-------------------+

### 데이터프레임 데이터 탐색
+ select : 컬럼 선택
+ filter : 조건 검색
+ where : 고급 조건 검색
+ orderBy : 정렬
+ groupBy : 그룹

#### 모든 사원의 이름 조회

In [39]:
emp.select(['FIRST_NAME', 'LAST_NAME']).show(5)

+----------+---------+
|FIRST_NAME|LAST_NAME|
+----------+---------+
|    Steven|     King|
|     Neena|  Kochhar|
|       Lex|  De Haan|
| Alexander|   Hunold|
|     Bruce|    Ernst|
+----------+---------+
only showing top 5 rows

#### 급여가 7000 이상 사원 검색

In [40]:
emp.filter(emp['SALARY'] >= 7000).show(5)

+-----------+----------+---------+--------+------------+-------------------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+-------------------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.4567|2003-06-17 00:00:00|AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21 00:00:00|  AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13 00:00:00|  AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03 00:00:00|IT_PROG|  9000|          null|       102|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17 00:00:00| FI_MGR| 12008|          null|       101|          100|
+-----------+----------+---------+--------+------------+-------------------+-------+------+--------------+----------+-------------+
only showing top 5 rows

#### 급여가 7000 이상 사원 수 검색

In [46]:
emp.filter(emp['SALARY'] >= 7000).count()

47

#### 2006-02-05 ~ 2006-11-15 피고용사원 조회

In [48]:
emp.filter(emp['HIRE_DATE'] >= '2006-02-05').filter(emp['HIRE_DATE'] <= '2006-11-15').show(5)

+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|        106|      Valli|  Pataballa|VPATABAL|590.423.4560|2006-02-05 00:00:00|   IT_PROG|  4800|          null|       103|           60|
|        112|Jose Manuel|      Urman| JMURMAN|515.124.4469|2006-03-07 00:00:00|FI_ACCOUNT|  7800|          null|       108|          100|
|        126|      Irene|Mikkilineni|IMIKKILI|650.124.1224|2006-09-28 00:00:00|  ST_CLERK|  2700|          null|       120|           50|
|        134|    Michael|     Rogers| MROGERS|650.127.1834|2006-08-26 00:00:00|  ST_CLERK|  2900|          null|       122|           50|
|        139|       John|        Seo|    JSEO|650.121.2019|2006-02-12 00:00:00|  ST_CLERK|  2700|          null|       123|           50|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
only showing top 5 rows

In [49]:
emp.where((emp['HIRE_DATE'] >= '2006-02-05') & (emp['HIRE_DATE'] <= '2006-11-15')).show(5)

+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|        106|      Valli|  Pataballa|VPATABAL|590.423.4560|2006-02-05 00:00:00|   IT_PROG|  4800|          null|       103|           60|
|        112|Jose Manuel|      Urman| JMURMAN|515.124.4469|2006-03-07 00:00:00|FI_ACCOUNT|  7800|          null|       108|          100|
|        126|      Irene|Mikkilineni|IMIKKILI|650.124.1224|2006-09-28 00:00:00|  ST_CLERK|  2700|          null|       120|           50|
|        134|    Michael|     Rogers| MROGERS|650.127.1834|2006-08-26 00:00:00|  ST_CLERK|  2900|          null|       122|           50|
|        139|       John|        Seo|    JSEO|650.121.2019|2006-02-12 00:00:00|  ST_CLERK|  2700|          null|       123|           50|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
only showing top 5 rows

In [4]:
emp.filter((emp['HIRE_DATE'] >= '2006-02-05') & (emp['HIRE_DATE'] <= '2006-11-15')).show(5)

+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
|        106|      Valli|  Pataballa|VPATABAL|590.423.4560|2006-02-05 00:00:00|   IT_PROG|  4800|          null|       103|           60|
|        112|Jose Manuel|      Urman| JMURMAN|515.124.4469|2006-03-07 00:00:00|FI_ACCOUNT|  7800|          null|       108|          100|
|        126|      Irene|Mikkilineni|IMIKKILI|650.124.1224|2006-09-28 00:00:00|  ST_CLERK|  2700|          null|       120|           50|
|        134|    Michael|     Rogers| MROGERS|650.127.1834|2006-08-26 00:00:00|  ST_CLERK|  2900|          null|       122|           50|
|        139|       John|        Seo|    JSEO|650.121.2019|2006-02-12 00:00:00|  ST_CLERK|  2700|          null|       123|           50|
+-----------+-----------+-----------+--------+------------+-------------------+----------+------+--------------+----------+-------------+
only showing top 5 rows

#### 부서번호별 사원수 조회

In [5]:
emp.groupBy('DEPARTMENT_ID').count().show()

+-------------+-----+
|DEPARTMENT_ID|count|
+-------------+-----+
|         null|    1|
|           20|    2|
|           40|    1|
|          100|    6|
|           10|    1|
|           50|   45|
|           80|   34|
|           70|    1|
|           90|    3|
|           60|    5|
|          110|    2|
|           30|    6|
+-------------+-----+

#### 직책별 사원수 조회

In [6]:
emp.groupBy('JOB_ID').count().show()

+----------+-----+
|    JOB_ID|count|
+----------+-----+
|FI_ACCOUNT|    5|
|    MK_MAN|    1|
|   IT_PROG|    5|
|    FI_MGR|    1|
|AC_ACCOUNT|    1|
|    HR_REP|    1|
|  PU_CLERK|    5|
|    AC_MGR|    1|
|    PR_REP|    1|
|    ST_MAN|    5|
|    MK_REP|    1|
|    SA_REP|   30|
|    SA_MAN|    5|
|    PU_MAN|    1|
|  SH_CLERK|   20|
|   AD_PRES|    1|
|  ST_CLERK|   20|
|   AD_ASST|    1|
|     AD_VP|    2|
+----------+-----+

#### 부서번호별 사원수 조회후 부서번호 순으로 정렬

In [7]:
emp.groupBy('DEPARTMENT_ID').count().orderBy('DEPARTMENT_ID').show()

[Stage 24:=====================================================>(197 + 1) / 200]

+-------------+-----+
|DEPARTMENT_ID|count|
+-------------+-----+
|         null|    1|
|           10|    1|
|           20|    2|
|           30|    6|
|           40|    1|
|           50|   45|
|           60|    5|
|           70|    1|
|           80|   34|
|           90|    3|
|          100|    6|
|          110|    2|
+-------------+-----+

#### 직책별 사원수 조회후 직책 순으로 정렬

In [ ]:
emp.groupBy('JOB_ID').count().orderBy('JOB_ID').show()

#### 직책별 사원수 조회후 직책 순으로 내림정렬

In [ ]:
emp.groupBy('JOB_ID').count().orderBy('count', ascending=False).show()

#### 집계함수 사용하기
+ agg(집계함수명)

In [8]:
from pyspark.sql import functions as F

#### 직책별 평균 급여 조회

#### 단  평균급여 컬럼의 이름에 함수명이 포함되어 출력

In [9]:
emp.groupBy('JOB_ID').agg(F.avg('SALARY'))

DataFrame[JOB_ID: string, avg(SALARY): double]

In [15]:
rs.show()

NameError: name 'rs' is not defined

In [16]:
rs.orderBy('avg(SALARY)', ascending=False).show()

NameError: name 'rs' is not defined

#### 직책별 평균 급여를 조회에서 내림차순으로 정렬 (별칭부여 : alias)

In [ ]:
emp.groupBy('JOB_ID').agg(F.avg('SALARY').alias('mean sal'))

In [ ]:
rs.orderBy('mean sal', ascending=False).show()

#### 사원들 직책 모두 출력 단 중복없이 하나씩만 표시

In [19]:
emp.select('JOB_ID').distinct().show()

+----------+
|    JOB_ID|
+----------+
|FI_ACCOUNT|
|    MK_MAN|
|   IT_PROG|
|    FI_MGR|
|AC_ACCOUNT|
|    HR_REP|
|  PU_CLERK|
|    AC_MGR|
|    PR_REP|
|    ST_MAN|
|    MK_REP|
|    SA_REP|
|    SA_MAN|
|    PU_MAN|
|  SH_CLERK|
|   AD_PRES|
|  ST_CLERK|
|   AD_ASST|
|     AD_VP|
+----------+

#### 모든 직책 수는

In [21]:
emp.select('JOB_ID').distinct().count()

19

In [22]:
emp.select(F.countDistinct('JOB_ID').alias('JOB_ID'))

DataFrame[JOB_ID: bigint]

#### 사원의 이름직책급여 출력 5% 인상한 급여도 같이

In [23]:
emp.select('FIRST_NAME', 'JOB_ID', 'SALARY', (emp.SALARY * 1.05).alias('105% sal')).show()

+-----------+----------+------+--------+
| FIRST_NAME|    JOB_ID|SALARY|105% sal|
+-----------+----------+------+--------+
|     Steven|   AD_PRES| 24000| 25200.0|
|      Neena|     AD_VP| 17000| 17850.0|
|        Lex|     AD_VP| 17000| 17850.0|
|  Alexander|   IT_PROG|  9000|  9450.0|
|      Bruce|   IT_PROG|  6000|  6300.0|
|      David|   IT_PROG|  4800|  5040.0|
|      Valli|   IT_PROG|  4800|  5040.0|
|      Diana|   IT_PROG|  4200|  4410.0|
|      Nancy|    FI_MGR| 12008| 12608.4|
|     Daniel|FI_ACCOUNT|  9000|  9450.0|
|       John|FI_ACCOUNT|  8200|  8610.0|
|     Ismael|FI_ACCOUNT|  7700|  8085.0|
|Jose Manuel|FI_ACCOUNT|  7800|  8190.0|
|       Luis|FI_ACCOUNT|  6900|  7245.0|
|        Den|    PU_MAN| 11000| 11550.0|
|  Alexander|  PU_CLERK|  3100|  3255.0|
|     Shelli|  PU_CLERK|  2900|  3045.0|
|      Sigal|  PU_CLERK|  2800|  2940.0|
|        Guy|  PU_CLERK|  2600|  2730.0|
|      Karen|  PU_CLERK|  2500|  2625.0|
+-----------+----------+------+--------+
only showing top 20 rows

#### 20번 또는 50번 부서, 급여 5000~12000 사이 사원들 LAST_NAME 및 급여 조회

In [24]:
emp.filter((emp.SALARY>= 5000) & (emp.SALARY <= 12000)).filter((emp.DEPARTMENT_ID == 20) | (emp.DEPARTMENT_ID == 50)).select('LAST_NAME', 'SALARY')\
.orderBy('SALARY').show(5)

+---------+------+
|LAST_NAME|SALARY|
+---------+------+
|  Mourgos|  5800|
|      Fay|  6000|
|  Vollman|  6500|
| Kaufling|  7900|
|    Weiss|  8000|
+---------+------+
only showing top 5 rows