### sparkRDD
+ 여러 분산노드에 걸쳐 저장하는 변경불가데이터 집합을 의미
+ RDD 생성은 직접 만들거나 파일을 통해 생성할 수 있음
+ RDD는 transformation과 action으로 구성
    - 기존 RDD의 데이터를 토대로 새로운 RDD를 만들어 냄
    - RDD를 기반으로 무언가를 계산해서 결과를 만들어 냄
+ RDD는 Lazy 로딩 방식을 사용

In [ ]:
lines = sc.textFile('/usr/share/spark/README.md')

#### 읽어들인 라인 중 10줄만 확인

In [ ]:
lines.collect()[:10]

#### 읽어들인 라인수 출력 : action

In [ ]:
lines.count()

#### 읽어들인 라인들 중에서 Spark라는 단어를 찾음 : transformation

In [ ]:
filterlines = lines.filter(lambda x: "Spark" in x)

In [ ]:
filterlines

In [ ]:
filterlines.collect()[:10]

#### Lazy 로딩방식 확인

##### 잘못된 위치의 파일을 읽어들이려 시도 - 오류 출력 안됨
##### 현재 위치 : /home/hadoop

In [ ]:
lines = sc.textFile("usr/share/spark/README.md")

##### 잘못된 경로로 오류발생 - 이전 라인에서 오류가 출력되어야 하는데
##### lazy loading으로 인해 action이 호출되어야만 비로소 오류가 출력

In [ ]:
lines.collect()[:10]

### RDD 생성
+ 직접 생성한 데이터로 만들거나
    - sc.parallelize(리스트)
+ 외부 데이터로 만드는 방법 존재
    - sc.textFile(경로/파일)

In [ ]:
rdd =sc.parallelize(['Hello, World!','Hello, Python!','this is RDD'])

In [ ]:
rdd.count

### 직책별 사원수를 조회하는 spark rdd 코드를 작성해보기
+ employees.csv를 이용

In [ ]:
emp = sc.textFile('employees.csv')

In [ ]:
emp.collect()[:5]

#### 헤더를 제외하고 데이터만 골라냄

In [ ]:
header = emp.first()

In [ ]:
emp = emp.filter(lambda x: header != x)

In [ ]:
emp.first()

#### 사원 데이터에서 ,로 각 컬럼을 분리split하고 이름과 직책을 추출

In [ ]:
emp2 = emp.map(lambda x: (x.split(',')[6], x.split(',')[1]))

In [ ]:
emp2.collect()[:5]

#### 추출한 데이터에서 직책을 1로 매핑함

In [ ]:
maps = emp2.mapValues(lambda x: 1)

In [ ]:
maps.collect()[:5]

#### 같은 직책끼리 모아서 집계처리함 (reduce)

In [ ]:
reduces = maps.reduceByKey(lambda x, y: x + y)

In [ ]:
reduces.collect()

#### 타이타닉 승객의 생존자/사망자 수 조회 spark rdd 코드

In [ ]:
titan = sc.textFile('titanic.csv')

In [ ]:
titan.collect()[:5]

In [ ]:
headr = titan.first()

In [ ]:
titan = titan.filter(lambda x: headr != x)

In [ ]:
titan.first()

In [ ]:
titan2 = titan.map(lambda x: (x.split(',')[11], x.split(',')[2]))

In [ ]:
titan2.collect()[:5]

In [ ]:
maps3 = titan2.mapValues(lambda x: '1')

In [ ]:
maps3.collect()[:5]

In [ ]:
reduces2 = maps3.reduceByKey(lambda x, y : x + y)

In [ ]:
reduces2.collect()

In [ ]:
print(reduces2)